name: CI/CD - DigitalOcean + Terraform + Docker

on:
  push:
    branches: [ "main" ]

jobs:
  provision-infra:
    name: Provision Infra (Terraform)
    runs-on: ubuntu-latest
    outputs:
      server_ip: ${{ steps.get_ip.outputs.server_ip }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Set env (DO TOKEN)
        run: echo "DIGITALOCEAN_TOKEN=${{ secrets.DO_TOKEN }}" >> $GITHUB_ENV

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan

      - name: Get Droplet IP
        id: get_ip
        working-directory: terraform
        run: |
          IP=$(terraform output -raw droplet_ip)
          echo "server_ip=$IP" >> $GITHUB_OUTPUT
          echo "IP capturado: $IP"

  deploy:
    name: Deploy App
    runs-on: ubuntu-latest
    needs: provision-infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start SSH Agent
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add Droplet to known_hosts
        run: |
          IP=${{ needs.provision-infra.outputs.server_ip }}
          mkdir -p ~/.ssh
          ssh-keyscan -H "$IP" >> ~/.ssh/known_hosts

      - name: Copy files to server
        run: |
          IP=${{ needs.provision-infra.outputs.server_ip }}
          scp -o StrictHostKeyChecking=no \
            docker-compose.yml \
            docker-compose.prod.yml \
            Dockerfile \
            requirements.txt \
            ubuntu@$IP:/home/ubuntu/

      - name: Remote Deploy
        run: |
          IP=${{ needs.provision-infra.outputs.server_ip }}
          ssh ubuntu@$IP "
            cd /home/ubuntu &&
            docker compose -f docker-compose.prod.yml up -d --build
          "
