name: Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  checkout:
    name: Checkout Code 
    runs-on: ubuntu-latest
    outputs: 
      commit_hash: ${{ steps.get_commit_hash.outputs.commit_hash }}
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Get short commit hash
        id: get_commit_hash
        run: echo "commit_hash=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT


  docker: 
    name: Build and Push Docker Image 
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          echo "TAG gerada: ${{ needs.checkout.outputs.commit_hash }}"
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/projeto-devops:${{ needs.checkout.outputs.commit_hash }} .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/projeto-devops:${{ needs.checkout.outputs.commit_hash }}


  deploy:
    name: Deploy on Digital Ocean
    runs-on: ubuntu-latest
    needs:
      - checkout
      - docker

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Copy files to Digital Ocean
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "./docker-compose.prod.yml"
          target: "~/"


      - name: Deploy on Digital Ocean
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            TAG=${{ needs.checkout.outputs.commit_hash }}
            echo "TAG recebida no servidor: $TAG"

            rm -f .env
            echo "DOCKER_IMAGE_TAG=$TAG" >> .env
            echo "DB_USER=${{ secrets.DB_USER }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
            echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env

            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d --build

            docker container prune -f
            docker image prune -a -f
