name: CI/CD with Terraform (DigitalOcean + Terraform Cloud)

on:
  push:
    branches: [ main ]

jobs:
  provision-infra:
    name: Provision Infra (Terraform)
    runs-on: ubuntu-latest
    outputs:
      server_ip: ${{ steps.get_ip.outputs.server_ip }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan (remote)
        working-directory: terraform
        env:
          DO_TOKEN: ${{ secrets.DO_TOKEN }}
        run: terraform plan

      - name: Wait for Terraform Cloud Apply to finish and get IP
        id: get_ip
        working-directory: terraform
        run: |
          echo "Aguardando Terraform Cloud terminar o apply..."

          for i in {1..40}; do
            IP=$(terraform output -raw droplet_ip 2>/dev/null || true)

            if [ ! -z "$IP" ]; then
              echo "server_ip=$IP" >> $GITHUB_OUTPUT
              echo "IP encontrado: $IP"
              exit 0
            fi

            echo "Ainda não disponível... ($i/40)"
            sleep 10
          done

          echo "❌ Falha: Terraform Cloud não liberou o IP a tempo."
          exit 1

  deploy:
    name: Deploy app to Droplet
    runs-on: ubuntu-latest
    needs: provision-infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start ssh-agent and add key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          IP=${{ needs.provision-infra.outputs.server_ip }}
          mkdir -p ~/.ssh
          ssh-keyscan -H $IP >> ~/.ssh/known_hosts

      - name: Copy files and deploy
        run: |
          IP=${{ needs.provision-infra.outputs.server_ip }}

          scp -o StrictHostKeyChecking=no docker-compose.prod.yml ubuntu@$IP:/home/ubuntu/docker-compose.yml

          ssh ubuntu@$IP "cd /home/ubuntu && docker compose up -d --build"
